<div class="upper-container">

    <h2 class="kunal">I'M Kunal Teotia <br>
        <br>
                     &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;     RPA Developer
    </h2>
  
  </div>
  
    <hr class="rounded"> 
  <div class="middle-container">
    <img class="kunalpic" src={{Kunal}} />
  <h1 class="hii">Hii There , Kunal always Here!!</h1>
  <h3 class="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You got it Right , it's me on left.....</h3>
  <h4 class="devl">I'm A Rpa Developer...</h4>
  <img class="quespic" src={{Automate}} />
  <h1 class="hii1">My Skills include:--</h1>
  <h3 class="right">Blueprism,Uipath,core java</h3>
  <h4 style="padding-right:30px;font-family: 'Caveat', cursive;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Angular(ongoing) </h4>
  <img class="bagpic" src={{Bag}} />
  <h1 class="hii2">My Educational Qualification...</h1>
  <h3 class="right">Class X -CBSE .</h3>
  <h3 class="right">Class XII -CBSE.</h3>
  <h1 class="hii2">My Educational Qualification...(GGSIPU UNIVERSITY)</h1>
  <h3 class="right">BCA 86 %  From <span class="college">Institute Of Innvovation in Technology and Management</span></h3>
  <h3 class="right">Year Of Graduation - - 2021</h3>
  </div>
  
  <hr class="break">
  <p style=color:violet;><marquee>I have 2.3 year of exp as Rpa developer...</marquee></p>
  <div class="lower-container">
  <h3 class="contactme">I'm Looking for a <span class="glow">Job Change..............</span> </h3>
  <h4 class="below">Want to contact me??</h4>
  <h5 class="below1">Just press the button below...</h5>
  <button class="glow-on-hover" href="teotiakunal9353@gmail.com" type="button" >INBOX ME!! - Teotiakunal9353@gmail.com</button>
  
  </div>
  
  
  <div class="text-container">
    <h1><span class="thank">Thank</span> <span class="you">You</span> <span class="for">For</span> <span class="visiting">Visiting</span></h1>
  </div>